[Unit]
Description=dht Exporter

[Service]
ExecStart=/usr/local/bin/node -r dotenv/config /opt/dht-exporter/src/server.js

[Install]
WantedBy=multi-user.target